<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
	<title>测试中心</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/editor.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="./resources/syntax/shCore.css">
	<link rel="stylesheet" type="text/css" href="./resources/demo.css">
	<style type="text/css" class="init">

	button.btn-space {
		margin-left: 1em;
	}

	</style>
	<script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/PapaParse/4.6.3/papaparse.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../../js/dataTables.editor.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
	<script type="text/javascript" language="javascript" src="./resources/syntax/shCore.js"></script>
	<script type="text/javascript" language="javascript" src="./resources/demo.js"></script>
	<script type="text/javascript" language="javascript" src="./resources/editor-demo.js"></script>
	<script type="text/javascript" language="javascript" class="init">



// Use a global for the submit and return data rendering in the examples.
// Don't do this outside of the Editor examples!
var editor;

// Display an Editor form that allows the user to pick the CSV data to apply to each column
function selectColumns ( editor, csv, header ) {
	var selectEditor = new $.fn.dataTable.Editor();
	var fields = editor.order();

	for ( var i=0 ; i<fields.length ; i++ ) {
		var field = editor.field( fields[i] );

		selectEditor.add( {
			label: field.label(),
			name: field.name(),
			type: 'select',
			options: header,
			def: header[i]
		} );
	}

	selectEditor.create({
		title: 'Map CSV fields',
		buttons: 'Import '+csv.length+' records',
		message: 'Select the CSV column you want to use the data from for each field.'
	});

	selectEditor.on('submitComplete', function (e, json, data, action) {
		// Use the host Editor instance to show a multi-row create form allowing the user to submit the data.
		editor.create( csv.length, {
			title: 'Confirm import',
			buttons: 'Submit',
			message: 'Click the <i>Submit</i> button to confirm the import of '+csv.length+' rows of data. Optionally, override the value for a field to set a common value by clicking on the field below.'
		} );

		for ( var i=0 ; i<fields.length ; i++ ) {
			var field = editor.field( fields[i] );
			var mapped = data[ field.name() ];

			for ( var j=0 ; j<csv.length ; j++ ) {
				field.multiSet( j, csv[j][mapped] );
			}
		}
	} );
}

$(document).ready(function() {
	// Regular editor for the table
	editor = new $.fn.dataTable.Editor( {
		ajax: "/api/summary",
		table: "#summary",
		fields: [ {
				label: "product:",
				name: "product"
			}, {
				label: "indexid:",
				name: "indexid"
			}, {
				label: "d0:",
				name: "d0"
			}, {
				label: "d10:",
				name: "d10"
			}, {
				label: "d50:",
				name: "d50",
			}, {
				label: "d90:",
				name: "d90"
			}, {
				label: "d99:",
				name: "d99"
			}, {
				label: "d100:",
				name: "d100"
			}, {
				label: "radio:",
				name: "radio"
			}, {
				label: "pressing:",
				name: "pressing"
			}, {
				label: "vibratory:",
				name: "vibratory"
			}, {
				label: "water:",
				name: "water"
			}, {
				label: "ph:",
				name: "ph"
			}
		]
	} );

	// Upload Editor - triggered from the import button. Used only for uploading a file to the browser
	var uploadEditor = new $.fn.dataTable.Editor( {
		fields: [ {
			label: 'CSV file:',
			name: 'csv',
			type: 'upload',
			ajax: function ( files ) {
				// Ajax override of the upload so we can handle the file locally. Here we use Papa
				// to parse the CSV.
				Papa.parse(files[0], {
					header: true,
					skipEmptyLines: true,
					complete: function (results) {
						if ( results.errors.length ) {
							console.log( results );
							uploadEditor.field('csv').error( 'CSV parsing error: '+ results.errors[0].message );
						}
						else {
							uploadEditor.close();
							selectColumns( editor, results.data, results.meta.fields );
						}
					}
				});
			}
		} ]
	} );

	$('#summary').DataTable( {
		dom: 'lBfrtip',
		ajax: "/api/summary",
		columns: [
			{ data: 'product' },
			{ data: 'indexid' },
			{ data: "d0" },
			{ data: "d10" },
			{ data: "d50" },
			{ data: "d90" },
			{ data: "d99" },
			{ data: "d100" },
      { data: "radio"},
      { data: "pressing"},
      { data: "vibratory"},
      { data: "water"},
      { data: "ph"}
		],
		select: true,
		buttons: [
			{ extend: 'create', text: '输入表格行', editor: editor },
			{ extend: 'edit', text: '编辑', editor: editor },
			{ extend: 'remove', text: '删除', editor: editor },
			{
				extend: 'csv',
				text: '导出 CSV',
				className: 'btn-space',
				exportOptions: {
					orthogonal: null
				}
			},
			{
				text: '导入 CSV',
				action: function () {
					uploadEditor.create( {
						title: 'CSV file import'
					} );
				}
			},
			{
        extend: 'selectAll', text: ' 全选', className: 'btn-space'
			},
      { extend: 'selectNone', text: '取消选择'}
		]
	} );
} );



	</script>



</head>



<body class="dt-example node">
	<div class="container">
		<section>
			<h1>测试中心 <span>数据汇总表单-录入数据表单</span></h1>

			<table id="summary" class="display" style="width:100%">
				<thead>
					<tr>
						<th>product</th>
						<th>indexid</th>
						<th>d0</th>
						<th>d10</th>
						<th>d50</th>
						<th>d90</th>
						<th>d99</th>
						<th>d100</th>
            <th>ratio</th>
            <th>pressing</th>
            <th>vibratory</th>
            <th>water</th>
            <th>ph</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>product</th>
						<th>indexid</th>
						<th>d0</th>
						<th>d10</th>
						<th>d50</th>
						<th>d90</th>
						<th>d99</th>
						<th>d100</th>
            <th>ratio</th>
            <th>pressing</th>
            <th>vibratory</th>
            <th>water</th>
            <th>ph</th>
					</tr>
				</tfoot>
			</table>
</body>
</html>
